ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  height: 25px;
}

li{
	display: inline;
	float: right;
}

li a {
  
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

img{
	height:20px;
}

.mySlides {display:none;
}

.slideshow{
	margin-left: 500px;
	margin-top: 100px;
}
p{
	font-family: sans-serif;
	font-size: 20px;
}