.logo{
	position: absolute;
  	top: 200px;
  	left:200px;
}
body{
	background: url("../photos/back.jpg") no-repeat fixed center;
	background-size: 2000px;
}

.btn {
  background-color: #303030; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.container {
  width: 500px;
  clear: both;
  align-content: center;
  position: absolute;
  left: 800px;
  top: 80px;
  background: lightpink;
  border: 1px solid darkred;
  width: 500px;
  border-radius: 20px;
}

.container input {
  width: 80%;
  clear: both;
  position: relative;
  left:40px;
  top: 20px;
}

h1{
	
	text-align: center;
	font-family: sans-serif;
	font-size: 50px;
}

label {
  color: #0f0f0f;
  padding: 8px;
  font-family: Arial;
  position: relative;
  left:40px;
  top: 20px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}

span{
	position: relative;
	left:40px;
	top:10px;
}
hr{
	border: 1px solid red;
}